<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <!-- <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Lesson | <%= title  %> </title>
    </head> -->
<body>

<%- include('./partials/nav.ejs') %>

    <!-- <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Lesson</h1></a>
            <p>A Lesson site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav> -->


    <div class="about content">
        <h2>About us</h2>
        <p>I just started learning express yesterday and i look forward to becoming a tech engineer</p>
        <p>My brother is guiding me on the right turorials to use, and we plan to write a project together when i get to a stage in this learning process</p>
        <p>Fighting!</p>
        
    </div>

<%- include('./partials/footer.ejs') %>

</body>
</html>