<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <!-- <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Lesson | <%= title  %> </title>
    </head> -->
<body>

<%- include('./partials/nav.ejs') %>

    <!-- <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Lesson</h1></a>
            <p>A Lesson site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav> -->


    <div class="create blog content">
        <form>
            <label for="title">Blog Title:</label>
            <input type="text" id="title" required>
            <label for="snippet">Blog Snippet:</label>
            <input type="text" id="snippet" required>
            <label for="body">Blog Body:</label>
            <textarea id="body" required></textarea>
            <button>Submit</button>
        </form> 
    </div>

<%- include('./partials/footer.ejs') %>

</body>
</html>